@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

input[name="sex"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
}
input[name="sex"]:after {
  font-family: "FontAwesome";
  display: inline-block;
  text-align: center;
  font-size: 80px;
  content: attr(data-icon);
  padding: 0px 20px 25px 20px;
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s, color 1s;
}
input[name="sex"]:checked:after {
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.4);
  color: #eecb64;
}

.text-label1 {
  margin-left: -70px;
}

.text-label2 {
  margin-left: -80px;
}

.text-label1,
.text-label2 {
  margin-top: 110px;
  font-size: 12px;
  position: absolute;
}
