@keyframes page-load {
  from {
    background-color: #ee7d45;
  }

  to {
    background-color: #c52a19;
  }
}

.page-loading::before {
  content: " ";
  display: block;
  position: fixed;
  z-index: 10;
  height: 3px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ee7d45;
  animation: page-load infinite ease-out 2s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
