@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
body {
  /* background-color: #fbf2e2; */
  background: url("../img/Background 2.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  font-family: "Fira Sans", sans-serif;
}

.btn-primary {
  background-color: #476692;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.form {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.title {
  color: #693634;
  font-size: 18px;
  font-weight: bold;
}

.box-primary {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputGroup {
  background-color: #fff;
  border: 1px solid #476692;
  display: block;
  margin: 10px 0;
  position: relative;
}
.inputGroup label {
  padding: 12px 20px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3c454c;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.inputGroup label:before {
  width: 12px;
  height: 10px;
  border-radius: 50%;
  content: "";
  background-color: #476692;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
/* .inputGroup label:after {
  width: 25px;
  height: 25px;
  content: "";
  border: 2px solid #d1d7dc;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 1px 2px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
} */
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #54e0c7;
  border-color: #54e0c7;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

@media (max-width: 576px) {
  .box-primary {
    display: block;
  }
  .box-body {
    margin-top: 12px;
    padding-bottom: 12px;
  }
}

.card-body {
  transition: all 0.3s ease-in-out;
}

.menu {
  text-decoration: none;
  cursor: pointer;
}

.para {
  font-size: 14px;
  color: #bd7011;
}

.bg-self {
  background-color: #fac3ad;
  color: #fff;
}

.ctg {
  background-color: rgb(30, 128, 207);
  color: #fff;
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 27px;
  float: right;
}
#ctg1,
#ctg2,
#ctg3,
#ctg4 {
  display: none;
}

.ket {
  font-size: 12px;
}
